@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
	Typography
*/
/*
	Colours
*/
/*
  Toggle
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'fontello';
  src: url("../../styles/fonts/fontello.eot?46575628");
  src: url("../../styles/fonts/fontello.eot?46575628#iefix") format("embedded-opentype"), url("../../styles/fonts/fontello.woff?46575628") format("woff"), url("../../styles/fonts/fontello.ttf?46575628") format("truetype"), url("../../styles/fonts/fontello.svg?46575628#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46575628#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-cancel-circled:before {
  content: '\e800'; }

/* '' */
.icon-close:before {
  content: '\e801'; }

/* '' */
.icon-menu:before {
  content: '\e802'; }

/* '' */
.icon-zoom-in:before {
  content: '\e803'; }

/* '' */
.icon-search:before {
  content: '\e804'; }

/* '' */
.icon-person:before {
  content: '\e805'; }

/* '' */
.icon-github:before {
  content: '\e806'; }

/* '' */
.icon-reddit:before {
  content: '\e807'; }

/* '' */
.icon-reddit-1:before {
  content: '\e808'; }

/* '' */
.icon-angle-double-left:before {
  content: '\e809'; }

/* '' */
.icon-resize-vertical:before {
  content: '\e80a'; }

/* '' */
.icon-angle-left:before {
  content: '\e80b'; }

/* '' */
.icon-angle-right:before {
  content: '\e80c'; }

/* '' */
.icon-link:before {
  content: '\e80d'; }

/* '' */
.icon-logout:before {
  content: '\e80e'; }

/* '' */
.browsehappy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem;
  background: #fff;
  z-index: 5;
  text-align: center; }
  .browsehappy a {
    text-decoration: underline; }

html {
  background: #D8E4E7; }

html, body {
  min-height: 100%; }

body {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #505C5F;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }
  a:focus {
    outline: 0; }

i {
  -webkit-font-smoothing: antialiased; }

noscript {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: #fff; }
  noscript p {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

button {
  margin: 1rem; }

#images {
  margin-left: 1rem;
  margin-bottom: 1rem; }

.card {
  float: left;
  width: -webkit-calc(100% - 1rem);
  width: calc(100% - 1rem);
  margin-right: 1rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  @media screen and (min-width: 480px) {
    .card {
      width: -webkit-calc(50% - 1rem);
      width: calc(50% - 1rem); } }
  @media screen and (min-width: 768px) {
    .card {
      width: -webkit-calc((100% / 3) - 1rem);
      width: calc((100% / 3) - 1rem); } }
  @media screen and (min-width: 950px) {
    .card {
      width: -webkit-calc(25% - 1rem);
      width: calc(25% - 1rem); } }
  @media screen and (min-width: 1281px) {
    .card {
      width: -webkit-calc((100% / 6) - 1rem);
      width: calc((100% / 6) - 1rem); } }
  .card .img-link {
    display: block;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px; }
    .card .img-link img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .card .img-link:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .card .img-link:after {
      font-family: fontello;
      content: "\e803";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0;
      color: #fff;
      font-size: 2em;
      -webkit-font-smoothing: antialiased;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .no-touch .card .img-link:hover:before {
      opacity: 0.3; }
    .no-touch .card .img-link:hover:after {
      opacity: 1; }
    .no-touch .card .img-link:hover img {
      -webkit-transform: scale(1.1) rotate(1deg);
      -moz-transform: scale(1.1) rotate(1deg);
      -ms-transform: scale(1.1) rotate(1deg);
      -o-transform: scale(1.1) rotate(1deg);
      transform: scale(1.1) rotate(1deg); }
  .card span {
    display: inline-block; }

.view-on {
  display: block;
  width: 100%;
  height: 10rem;
  background: #c4d0d3;
  text-align: center;
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }
  .view-on p {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .view-on span {
    display: block; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  z-index: 3;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .overlay.show {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.8; }

.lightbox {
  width: auto;
  max-width: 95%;
  height: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s cubic-bezier(1, 0, 0.19, 1.44);
  -moz-transition: all 0.3s cubic-bezier(1, 0, 0.19, 1.44);
  transition: all 0.3s cubic-bezier(1, 0, 0.19, 1.44); }
  .lightbox.show {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }

.lightbox-close {
  position: absolute;
  top: 0rem;
  left: -2.5rem;
  display: block;
  font-size: 2em;
  color: #fff; }
  .lightbox-close i {
    display: block; }

.lightbox-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .lightbox-image img {
    width: auto;
    height: 100%;
    border-radius: 7px; }

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 3rem;
  height: 1.5rem;
  background: #c4d0d3;
  border-radius: 1rem;
  position: relative;
  top: -2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  input[type=checkbox]:after {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.2s cubic-bezier(1, 0, 0.19, 1.44);
    -moz-transition: all 0.2s cubic-bezier(1, 0, 0.19, 1.44);
    transition: all 0.2s cubic-bezier(1, 0, 0.19, 1.44); }
  input[type=checkbox]:checked {
    background: #F16E31; }
    input[type=checkbox]:checked:after {
      left: -webkit-calc(100% - 2px);
      left: calc(100% - 2px);
      -webkit-transform: translate(-100%, -50%);
      -moz-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
      -o-transform: translate(-100%, -50%);
      transform: translate(-100%, -50%); }
  input[type=checkbox]:focus {
    outline: none; }

header {
  padding: 2rem;
  text-align: center; }
  header h1 {
    display: inline-block;
    font-weight: 400;
    font-size: 4em;
    padding: 2rem;
    line-height: 1em;
    text-align: left; }
    header h1 span:first-child {
      display: inline-block;
      font-family: baskerville;
      font-weight: normal;
      font-style: italic;
      font-size: 1.2em;
      text-transform: none;
      margin-left: -0.4rem;
      color: #788487;
      -webkit-transform: translateY(-0.2rem);
      -moz-transform: translateY(-0.2rem);
      -ms-transform: translateY(-0.2rem);
      -o-transform: translateY(-0.2rem);
      transform: translateY(-0.2rem); }
    header h1 span:nth-child(2) {
      display: block;
      font-weight: 700;
      margin-left: 0.3rem; }

nav {
  z-index: 2;
  width: 100%;
  padding: 0.5rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: #D8E4E7;
    border-bottom: 1px solid #c4d0d3; }
  nav ul {
    display: inline-block;
    position: relative; }
  nav li {
    display: inline-block;
    text-transform: uppercase; }
    nav li:not(:last-child) {
      margin-right: 4rem; }
    nav li a {
      display: block;
      text-align: center; }
      nav li a i {
        display: block; }

.shoe-mode-on {
  color: orange; }

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none; }
  #loading img {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

footer {
  background: #b0bcbf;
  text-align: right;
  padding: 1rem;
  text-transform: none; }
  footer a {
    color: #283437; }

/*# sourceMappingURL=main.css.map */
