#images {
  margin-left:1rem;
  //width:60%;
}

.card {
  float:left;
  @include calc(width, "25% - 1rem");
  margin-right:1rem;
  @include transition(all 0.2s ease);
  //padding:1rem;
  margin-bottom:1rem;
  border-radius:2px;
  background:#fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
}
.view-on {
  display:block;
  width:100%;
  height:10rem;
  background:grey;
}

.overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  display:none;
  opacity:0;
  @include transition(opacity 0.2s ease);
  &.show {
    display:block;
    opacity:0.8;
  }
}

.lightbox {
  width:auto;
  height:95vh;
  position:fixed;
  top:50%;
  left:50%;
  @include transform(translate(-50%, -50%));
  background:#fff;
  border:1px solid grey;
  border-radius:2px;
  display:none;
  &.show {
    display:block;
  }
  a {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
  }
  .lightbox-image {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    img {
      width:auto;
      height:100%;
    }
  }
}