header {
  padding:$header-padding-mobile;
  text-align:center;
  h1 {
    display:inline-block;
    font-weight:400;
    font-size:4em;
    padding:$header-padding-desktop;
    //border:1px dashed $base-text-color;
    line-height:1em;
    text-align:left;
    span {
      &:first-child {
        display:inline-block;
        font-family:$serif-font-family;
        font-weight:normal;
        font-style:italic;
        font-size:1.2em;
        text-transform:none;
        margin-left:-0.4rem;
        color:$base-text-color + 40;
        @include transform(translateY(-0.2rem));
      }
      &:nth-child(2) {
        display:block;
        font-weight:700;
        margin-left:0.3rem;
      }
    }
  }
  h2 {
    font-size:0.8em;
    font-weight:400;
    color:$base-text-color + 70;
  }
  @include media($desktop) {
    padding:$header-padding-desktop;
    h1 {
      padding:$header-padding-desktop;
    }
  }
}

.thread-title {
  display:inline-block;
  position:relative;
  left:50%;
  @include transform(translateX(-50%));
  font-weight:400;
  padding:2rem 2rem 3rem 2rem;
  text-align:center;
  @include media($desktop) {
    padding:2rem 2rem 4rem 2rem;
  }
}