nav {
  z-index:2;
  width:100%;
  padding:0.5rem;
  position:relative;
  text-align:left;
  background:$bg-color;
  border-bottom:1px dashed $border-color;
  border-top:1px dashed $border-color;
  @include transition(all 0.2s ease);
  @include media($tablet) {
    text-align:center;
  }
  &.sticky {
    position:fixed;
    top:0;
    left:0;
    border:0;
    .shoe-mode {
      right:2rem;
    }
  }
  ul {
    display:inline-block;
    position:relative;
  }
  li {
    display:inline-block;
    text-transform:uppercase;
    &:not(:last-child) {
      margin-right:1rem;
      .no-touch & {
        a {
          &:hover {
            i {
              margin-left:-0.5rem;
            }
          }
        }
      }
    }
    &:last-child {
      .no-touch & {
        a {
          &:hover {
            i {
              margin-left:0.5rem;
            }
          }
        }
      }
    }
    a {
      display:block;
      text-align:center;
      @include transition(all 0.2s ease);
      .no-touch & {
        &:hover {
          color:$base-link-hover-color;
        }
      }
      &.disabled {
        pointer-events:none;
        color:$border-color;
      }
      i {
        display:block;
        font-size:1.3em;
        @include transition(all 0.2s ease);
      }
    }
    @include media($tablet) {
      &:not(:last-child) {
        margin-right:4rem;
      }
    }
  }
}