nav {
  z-index:2;
  width:100%;
  padding:0.5rem;
  position:relative;
  @include transition(all 0.2s ease);
  &.sticky {
    position:fixed;
    top:0;
    left:0;
    background:$bg-color;
    border-bottom:1px solid $bg-color - 20;
    .shoe-mode {
      right:2rem;
    }
  }
  ul {
    display:inline-block;
    position:relative;
  }
  li {
    display:inline-block;
    text-transform:uppercase;
    &:not(:last-child) {
      margin-right:4rem;
    }
    a {
      display:block;
      text-align:center;
      i {
        display:block;
      }
    }
  }
  .shoe-mode {
    position:absolute;
    top:1.05rem;
    right:0;
  }
}

#loading {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#fff;
  display:none;
  img {
    position:relative;
    top:50%;
    left:50%;
    @include transform(translate(-50%, -50%));
  }
}