/*
	Typography
*/
$base-font-family:'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size:14px;
$base-font-weight:400;
$base-line-height:24px;
$base-letter-spacing:0px;

$serif-font-family:Baskerville, 'Libre Baskerville', 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;

/*
	Colours
*/
$bg-color:#D8E4E7;
$secondary-color:#F16E31;
$base-text-color:#505C5F;
$base-link-hover-color:$base-text-color + 50;

$border-color:$bg-color - 20;

/*
Header
*/
$header-padding-mobile:1rem;
$header-padding-desktop:2rem;

$nav-item-margin-mobile:1rem;
$nav-item-margin-tablet:4rem;

/*
  Card
*/
$card-info-padding:0.5rem;
$card-info-item-padding:0.5rem;

/*
  Toggle
*/
$toggle-bg-color:$bg-color - 20;
$toggle-checked-bg-color:$secondary-color;
$toggle-width:3rem;
$toggle-height:1.5rem;
$toggle-circle-height:$toggle-height - 0.25rem;
$toggle-circle-width:$toggle-circle-height;

$border-radius:7px;

$cubic:cubic-bezier(1,0,.19,1.44);